<div class="card about-card">
  <img src="{{ '/assets/images_other/about.jpeg' | relative_url }}" alt="John Cena">
  <div class="about-text">
  <h1>Sarah Allison</h1>
  <p>Sarah has been serving the St. Louis area for the past six years. She works with Passiglia Nursery and Garden Center and Bloomin' Buckets, where she loves sharing her deep knowledge with customers and bringing color and life to every project. Sarah lives in South St. Louis County with her two cats, Floyd and Guinan, and her boyfriend, Jonny. She has a deep love for nature, ask her about the Catskills!</p>
  </div>
</div>