<div class="card about-card">
  <img src="{{ '/assets/images_other/about.jpeg' | relative_url }}" alt="John Cena">
  <div class="about-text">
  <h1>Sarah Allison</h1>
  <p>Sarah has been a floral designer and horticulturist since 2018 with an education background in biology. She's had extensive career experience with various nurseries, garden centers, and florists in the greater Saint Louis area, where she loves sharing her deep knowledge with customers and bringing color and life to every project. Sarah lives in South St. Louis County with her boyfriend, Jonny, and their two cats, Floyd and Guinan. She has a deep love for nature, ask her about the Catskills!</p>
  </div>
</div>